<div class="container-fluid">
    <div class="row">

        <!--div class="col-md-2"-->

            <div class="profile-header-container">
                <div class="profile-header-img" style="padding-bottom:0px;">
                    <img ng-if="model.loggedInUser.url" class="img-circle" ng-src="{{model.loggedInUser.url}}" />
                    <img ng-if="!model.loggedInUser.url" class="img-circle" ng-src="../../../images/projectImages/user.png" />
                </div>
                <h2><strong> Hello Admin</strong></h2>
            </div>
        <!--/div-->

        <div class="profile-header btn-pref btn-group table-responsive" style="align-content: center">

            <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error Occured. Please try again. </strong> {{model.error}}
            </div>

            <h2 class="page-header">User Management</h2>

            <table class="table table-inverse table-responsive">
                <thead>
                <tr class="theadrow table-font-name">

                    <th ng-click="model.sortBy('firstName')" class="nowrap table-font-name">
                        <span ng-show="(model.checkUserName == 'firstName') && (model.isReverse == false)"
                              class="glyphicon glyphicon-triangle-top"
                              aria-hidden="true"></span>
                        <span ng-show="(model.chekUsername == 'firstName') && (model.isReverse == true)"
                              class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span> First Name
                    </th>

                    <th ng-click="model.sortBy('lastName')" class="nowrap table-font-name">
                        <span ng-show="(model.checkUserName == 'firstName') && (model.isReverse == false)"
                              class="glyphicon glyphicon-triangle-top"
                              aria-hidden="true"></span>
                        <span ng-show="(model.chekUsername == 'firstName') && (model.isReverse == true)"
                              class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span> Last Name
                    </th>


                    <th ng-click="model.sortBy('username')" class="nowrap table-font-name">
                        <span ng-show="(model.checkUserName == 'username') && (model.isReverse == false)"
                              class="glyphicon glyphicon-triangle-top"
                              aria-hidden="true"></span>
                        <span ng-show="(model.chekUsername == 'username') && (model.isReverse == true)"
                              class="glyphicon glyphicon-triangle-bottom"
                              aria-hidden="true"></span> Username
                    </th>

                    <th class="table-font-name">Email</th>
                    <th class="table-font-name">Roles</th>
                </tr>
                </thead>

                <tbody>
                <!--class="forms-input-row"-->
                <tr>
                    <td>
                        <input ng-model="model.selectedUser.firstName"
                               id="firstName"
                               class="form-control"
                               type="text"
                               placeholder="First Name"/>
                    </td>
                    <td>
                        <input ng-model="model.selectedUser.lastName"
                               id="lastName"
                               class="form-control"
                               type="text"
                               placeholder="Last Name"/>
                    </td>

                    <td>
                        <input ng-model="model.selectedUser.username"
                               id="username"
                               class="form-control"
                               type="text"
                               placeholder="username" required/>
                    </td>

                    <td>
                        <input ng-model="model.selectedUser.email"
                               id="email"
                               class="form-control"
                               type="text"
                               placeholder="Email"/>
                    </td>

                    <td>
                        <input ng-model="model.selectedUser.role"
                               id="roles"
                               class="form-control"
                               type="text"
                               placeholder="u/a"/>
                    </td>
                    <td>
                        <a ng-click="model.addUserAdmin(model.selectedUser)"
                           ng-show="model.isUserSelected == -1">
                            <span class="glyphicon glyphicon-plus plusicon pull-left" aria-hidden="true"></span></a>

                        <a ng-click="model.updateUserAdmin(model.selectedUser)"
                           ng-hide="model.isUserSelected == -1">
                            <span class="glyphicon glyphicon-ok okicon pull-right" aria-hidden="true"></span></a>
                    </td>

                </tr>
                <br>
                <tr ng-repeat="user in model.users | orderBy:model.checkUserName:model.isReverse">
                    <td><span class="form-control"> {{user.firstName}}</span></span></td>
                    <td><span class="form-control">{{user.lastName}}</span></td>
                    <td><span class="form-control">{{user.username}}</span></td>
                    <td><span class="form-control">{{user.email}}</span></td>
                    <td><span class="form-control">{{user.role}}</span></td>

                    <td>
                        <a ng-click="model.deleteUserAdmin(user)">
                            <span class="glyphicon glyphicon-remove removeicon pull-left" aria-hidden="true"></span>
                        </a>
                        <a ng-click="model.selectUserAdmin(user)">
                            <span class="glyphicon glyphicon-cog pencilicon pull-right" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

    </div>
    </div>
</div>