<!-- SECTION ABOUT US STARTS-->
    <div class="guitar2">
        <!--<img class="img-responsive" src="../img/project-images/guitar2.jpg" alt="guitar">-->
    </div>
    <div class="about-content">
        <h2><strong>Evento -  Event search made easy </strong> </h2>
        <p>We have created an extremely positive and relaxed environment all geared towards developing your skills whether you are an
            absolute beginner trying to get off the ground or an accomplished player looking to move to the next level.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
        <a href="#" class="btn btn-warning"><strong>Know More</strong> <i class="fa fa-angle-right"></i></a>
    </div>
<!-- SECTON ABOUT US ENDS -->